body {
    margin: 0;
    padding: 0;
}

.game-grid {
	overflow: hidden;
	background-color: #4d5166;
	position: relative;
    margin:  0px auto;
	user-select: none;
    border-radius: 5px;
    text-align: center;
    font-size: 26px;
}

.game-cell-container {
	position: absolute;
}

.game-cell-box {
	background-color: #919191;
    position: absolute;
	border-radius: 7px;
	height: 80%;
	width: 80%;
    margin: 10%;
}

.game-cell-value {
    position: absolute;
    font-family: monospace;
    font-weight: bold;
    line-height: 0px;
    margin: 50% auto;
    width: 100%;
    z-index: 1;
}

.game-grid {
	width: 400px;
	height: 400px;
    top: 8vh;
}

.menu, .inf {
    position: relative;
    height: 10vh;
}

.game-section {
    position: relative;
    width: 100vw;
    height: 80vh;
}
